/* The sidebar menu */

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    /* display: block; */
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Style page content */

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.about {
    height: 85vh;
    /* padding-top: 7em;
    padding-left: 3em; */
}

.about>h1 {
    padding-top: 4em;
    padding-left: 2em;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.about>p {
    padding-left: 5em;
}

.portfolio {
    height: 95vh;
}

.portfolio>h2 {
    padding-top: 4em;
    padding-left: 2em;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.portfolio>p {
    padding-left: 5em;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 3em;
}

.projects>div {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.skills {
    height: 70vh;
}

.skills>h2 {
    padding-top: 4em;
    padding-left: 2em;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.skills>p {
    padding-left: 5em;
}